@media (max-width: 1068px) {
    body .wrapper-skills .skills-items:nth-child(odd) {
        margin-right: 0 ;
    }
}

@media (max-width: 920px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    html>body>.wrapper-title {
        font-size: 30%;
    }
    body .wrapper-knowledge .knowledge-items {
        margin: 30px auto;
    }
}

@media (max-width: 750px) {
    body nav {
        display: none;
    }

    body .main-menu {
        display: block;
    }
}