@media (max-width: 1068px) {
    body .wrapper-skills .skills-items:nth-child(odd) {
        margin-right: 0 ;
    }
}

@media (max-width: 920px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    html>body>.wrapper-title {
        font-size: 30%;
    }
    body .wrapper-knowledge .knowledge-items {
        margin: 30px auto;
    }
}

@media (max-width: 750px) {
    body nav {
        display: none;
    }

    body .main-menu {
        display: block;
    }

    body .second-title._about-title {
        font-size: 11.52rem;
    }
    body .second-title {
        font-size: 11.52rem;
    }
}

@media (max-width: 690px) {
    body .wrapper-title .image-title {
        width: 68.8rem;
    }

    body .wrapper-title .main-title {
        font-size: 11.52rem;
    }
    body .main-footer {
        text-align: center;
    }

    body .sociais-scroll {
        display: none;
    }

}

@media (max-width: 560px) {
    body .wrapper-title .image-title {
        width: 48.16rem;
    }

    body .wrapper-title .main-title {
        font-size: 8.064rem;
    }

    body .second-title._about-title {
        font-size: 8.064rem;
    }
    body .second-title {
        font-size: 8.064rem;
    }

    body .second-title._knowledge-title {
        font-size: 7rem;
        text-align: center;
    }
    
}