.animation-on {
    animation: animationScroll 5s forwards;
}

.animation-opacity {
    animation: opacity 10s forwards;
}

@keyframes opacity {
    to {
        opacity: 100%;
    }
}

@keyframes animationScroll {
    to {
        transform: translate(0);
    }
}