.box-projects {
    display: flex;
    flex: none;
    background-color: #fff;
    width: 90%;
    
    align-self: center;
    margin-left: 10px;
}

.box-projects._secondP {
    background-color: red;
}

.box-projects._thirdP {
 background-color: blue;
}