.box-projects {
    background-color: #fff;
    height: 90%;
    align-self: center;
    border-radius: 2%;
}

.box-projects._secondP {
    background-color: red;
}

.box-projects._thirdP {
 background-color: blue;
}

.box-projects .second-title._projects {
    
}