.main-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../../assets/images/background-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 480px;
    align-items: center;
}

.main-header .main-logo{
   margin-top: 70px;
}

.main-header .main-logo:hover{
    transform: scale(1.02);
}