.main-arrow {
    box-sizing: border-box;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff; 
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 50%;
}

.main-arrow:hover {
    opacity: 100%;
}

.main-arrow._left {
    transform: rotate(45deg);
    left: 30px;
}

.main-arrow._right {
    transform: rotate(-135deg);
    right: 30px;
}