.main-navigation{
    display: flex;
    justify-content: space-around;
    background-color: #101010;
    width: 100%;
    position: sticky;
    top: 0;
    border-radius: 0 0 20px 20px;
}

.main-navigation .main-action{
    text-shadow: 4px 4px 4px #000;
}

.main-navigation .main-action:hover{ 
    opacity: 20%;
    transform: scale(0.89);
}