.main-circle{
    display: flex;
    background-color: #3b3b3b;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 5px #000;
}

.main-circle .main-title{
    text-shadow: 4px 4px 4px #000;
}