.main-section{
    display: flex;
    flex-direction: column;
    background-color: #7D5CF2;
    min-height: 200px;
    border-bottom: 5px solid #000;
    box-sizing: border-box;
    position: relative;
}

.main-section._banner{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.main-section._banner .main-logo {
    right: 15px;
    top: 10px;
    z-index: 0;
}

.main-section._about {
    background: url(../../assets/images/SectionABOUT.png) repeat;
    background-size: cover;
    height: 792px;
    border-color: #595959;
}

.main-section._knowledge {
    background-color: #0D0D0D;
    padding-bottom: 50px;
}

.main-section._contacts {
    background-color: #282140;
    border: none;
}